<div class="container">
  <%=link_to "Add User", new_user_path, class: 'btn btn-default'%>
  <%=link_to "Add Restaurant", new_restaurant_path, class: 'btn btn-default' %>
  <br>
  <%=link_to "See User", users_path, class: 'btn btn-default'%>
  <%=link_to "See Restaurant", restaurants_path, class: 'btn btn-default' %>
</div>