<div class="container">
  <h1>New Restaurant</h1>

  <%= render 'form', current_object: @restaurant, action: :create, method: :post %>

  <%= link_to 'Back', root_path, class: 'btn btn-default' %>
</div>