<nav class="navbar navbar-toggleable-md navbar-light bg-success text-white">

  <%= link_to "FunfXEssen", root_path, class: "navbar-brand" %>
  <div class= "col-md-8">
  </div>
  <div class= "col-md-3">
    <li><%=link_to "Add User", new_user_path%></li>
    <li><%=link_to "Add Restaurant", new_restaurant_path %></li>
  </div>
</nav>